<div class="container">
  <div class="row">
    <!-- <h3>Conhecendo o Signal x RXJS</h3>
    <div class="col"><app-signals></app-signals></div>
    <div class="col"><app-rxjs></app-rxjs></div>
    <h3>Todo List</h3>
    <div class="col"><app-to-do-list></app-to-do-list></div>
    <h3>User List</h3>

    <div class="col"><app-user-list></app-user-list></div> -->
    <div class="col"><app-one></app-one></div>
    <div class="col"><app-two></app-two></div>
  </div>
  APP PRINCIPAL: {{ count }}
</div>
