<div class="container text-center">
  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="nome">nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Nome"
            formControlName="nome"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
          />
        </div>
        {{ form.value | json }}
        <button
          type="button"
          class="btn btn-primary mt-5 mb-2"
          (click)="addUser()"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </form>
    </div>
    <!-- <div class="col">RXJS</div> -->
  </div>
  <hr />

  <div class="row mt-4">
    <div class="col">
      <table class="table" *ngIf="users().length != 0; else noUsers">
        <thead>
          <tr>
            <th scope="col" *ngFor="let coluna of colunaTabela">
              {{ coluna }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users()">
            <td>{{ user.nome }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="removeUser(user)"
              >
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noUsers>
  <div>
    <span>Não temos nenhum usuario criado</span>
  </div>
</ng-template>
